body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f8f8f8;
    color:#333
}

header {
    text-align: center;
    padding: 80px 20px;
    background: #111;
    color: white;
}

section {
  max-width: 800px;
  margin: auto;
  padding: 40px 20px;
}

.project-card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}